/* common */

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.02em;
	color: #111111;
	background-color: #fafafa;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}

ul,
ol {
	list-style-type: none;
}

.section-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	text-align: center;
}

.accent-color {
	color: #fd9222;
}

/* header */

.logo {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.11;
	letter-spacing: -0.03em;
	text-transform: uppercase;
}

.italic-text {
	font-style: italic;
}

.menu-link {
	font-weight: 500;
	line-height: 1.14;
}

.menu-link:hover,
.menu-link:focus {
	color: #fd9222;
}

/* hero */

.hero {
	background-color: #1e1823;
}

.title {
	font-weight: 500;
	font-size: 28px;
	line-height: 1.21;
	letter-spacing: -0.03em;
	color: #ffffff;
}

.buy-now-button {
	font-weight: 600;
	color: #ffffff;
	background-color: #fd9222;
}

.buy-now-button:hover,
.buy-now-button:focus {
	color: #fd9222;
	background-color: #fcf1e0;
}

.how-made-link {
	font-weight: 600;
	color: #ffffff;
}

.how-made-link:hover,
.how-made-link:focus {
	color: #fd9222;
}

.scroll-down-link {
	font-weight: 500;
	letter-spacing: -0.03em;
	color: #ffffff;
}

.scroll-down-link:hover,
.scroll-down-link:focus {
	color: #fd9222;
}

/* benefits */

.benefits {
	background-color: #1e1823;
}

.benefits-item-title {
	font-weight: 600;
	font-size: 18px;
	color: #ffffff;
}

.benefits-item-text {
	color: rgba(255, 255, 255, 0.7);
}

/* ingredients */

.ingredients-item-title {
	font-weight: 600;
	text-transform: uppercase;
}

/* how made */

.how-made-title {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
}

/* reviews */

.reviews-item-title {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	text-align: center;
}

.reviews-item-text {
	color: rgba(17, 17, 17, 0.7);
}

.leave-review-button {
	font-weight: 600;
	font-size: 18px;
}

.leave-review-button:hover,
.leave-review-button:focus {
	color: #ffffff;
	background-color: #fd9222;
}

/* footer */

.footer {
	color: #ffffff;
	background-color: #1e1823;
}

.footer-title {
	font-weight: 500;
	font-size: 28px;
	line-height: 1.21;
}

.contacts {
	font-style: normal;
}

.contacts-text {
	font-weight: 500;
}

.contacts-list-link:hover,
.contacts-list-link:focus {
	color: #fd9222;
}
